body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}


.etiqueta {
  text-indent: 0px;
  font-size: 10px;
  line-height: 10px;
  white-space: normal;
  text-align: center;
  bottom: 0px;
}

.node {
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.node.noacreditada {
  border: solid 1px white;
  opacity:1
}

.node.acreditada {
  border: solid 1px white;
  opacity:1
}



